:root {
    --dark-blue: #011F23;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav {
    background: var(--dark-blue);
    height: 4.5rem;

        .container {
            justify-content: space-between;
            padding: 1rem 0;
        }

        a {
            text-transform: uppercase;
            color: white;

             &:hover {
                 color: #D92B04;
             }
        }
}

section.hero {
    background: rgb(217,43,4);
    background: linear-gradient(90deg, rgba(217,43,4,0.8099614845938375) 0%, rgba(149,30,3,1) 60%, rgba(109,22,2,1) 100%), url('../assets/images/hero_laptop_img.png');
    height: 600px;
    background-size: cover;
    color: white;

    .container{
         padding-top: 7rem;
        .headline {
            width:20rem;
            float: right;
            h1 {
                text-transform: uppercase;
                font-weight: 400;
            }

            p {
                margin-bottom: 4rem;
            }

            a {
                margin-left: 4rem;
                border: white solid 3px;
                border-radius: 2rem;
                font-size: 1.1rem;
                text-decoration: none;
                color: white;
                font-weight: bold;
                padding: .5rem 2rem;
            }
        }
    }

}